:where(#TODOAPP, #SAIKYO) path {
  animation: logo-text 6s ease-in-out infinite;
}

@keyframes logo-text {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  20%,
  80% {
    opacity: 1;
    transform: translateX(0);
  }

  85% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 0;
  }
}

#logo_text #S1 {
  animation-delay: 0.1s;
}

#logo_text #A1 {
  animation-delay: 0.2s;
}

#logo_text #I1 {
  animation-delay: 0.3s;
}

#logo_text #K1 {
  animation-delay: 0.4s;
}

#logo_text #Y1 {
  animation-delay: 0.5s;
}

#logo_text #O1 {
  animation-delay: 0.6s;
}

#logo_text #T1 {
  animation-delay: 0.7s;
}

#logo_text #O2 {
  animation-delay: 0.8s;
}

#logo_text #D1 {
  animation-delay: 0.9s;
}

#logo_text #O3 {
  animation-delay: 1s;
}

#logo_text #A2 {
  animation-delay: 1.1s;
}

#logo_text #P1 {
  animation-delay: 1.2s;
}

#logo_text #P2 {
  animation-delay: 1.3s;
}
