:where(.background) {
  --animation-time: 0.5s;
  --transform-scale: 150;
}

:where(.background) .ele {
  animation: forward-center var(--animation-time) linear;
  opacity: 0;
}

.second-box {
  animation-delay: calc(var(--animation-time) * 1 - 0.3s);
}

.third-box {
  animation: forward-center_to_back-center calc(var(--animation-time) * 2)
    linear calc(var(--animation-time) * 1) forwards;
}

/* 奥から手前に */
@keyframes forward-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(var(--transform-scale));
    opacity: 1;
  }
}

/* 奥から手前、再度奥に */
@keyframes forward-center_to_back-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  40% {
    transform: scale(var(--transform-scale));
    opacity: 1;
  }
  55% {
    border-radius: 50%;
  }
  100% {
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
}

.splash-text {
  opacity: 0;
  animation: splash-text var(--animation-time) linear forwards
    calc(var(--animation-time) * 2);
  mix-blend-mode: hard-light;
}

@keyframes splash-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.splash-animation.background {
  animation: fadeOut 1s linear 5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
